{% extends 'layout/front.html.twig' %}

{% block title %}jWC!{% endblock %}
{#{% block bodyClass %}{{ color }}{% endblock %}#}
{% block body %}
    <div class="container-fluid">
        <div>
            <h1>Bienvenue sur jWC!</h1>
        </div>
        <div style="display: flex; flex-direction: row">
            {% for post in postList %}
                    <div class="card" style="width: 18rem;margin-right: 10px">
                        <div class="card-body">
                            <h5 class="card-title" style="color: #0d6efd">{{ post.title }}</h5>
                            <p>nombre de vue : {{ post.numberView }}</p>
                        </div>
                        <a href="{{ path('post_detail',{'id': post.id}) }}" class="btn btn-primary" style="margin: 10px 20px">Detail</a>
                    </div>
            {% endfor %}
        </div>
{#        <a class="btn btn-lg btn-primary" href="{{ path('post_add') }}">Add Post</a>#}
    </div>

{% endblock %}
