{% extends 'layout/frontAdmin.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h3>Ticket</h3>
        <p>Par : {{ user.firstName }} {{ user.lastName }} </p>
        <p>{{ ticketEntity.createAt|date("d/M/Y h:m:s") }}</p>
        <p>{{ ticketEntity.content }}</p>

        {% if ticketEntity.status!=2 %}
        <a class="btn btn-lg btn-warning" href="{{ path('treated_ticket',{'id': ticketEntity.id}) }}">Traiter le ticket</a>
        {% endif %}
        {% if ticketEntity.status==2 %}
            <p>Traité par {{ ticketEntity.treatedBy.firstName }} {{ ticketEntity.treatedBy.lastName }}</p>
        {% endif %}
    </div>
{% endblock %}
